<div class="container mt-4">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">グループ情報</h5>
      <p class="card-text">
        <strong>グループ名：</strong><%= @group.name %><br>
        <strong>メンバー：</strong>
        <% @members.each do |user| %>
          <%= link_to user.name, edit_user_path(user.id), class: "badge badge-primary mr-1" %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header bg-primary text-white">
      <h1 class="h4 mb-0">支払い</h1>
    </div>
    <div class="card-body">
      <%= form_with model: @expense, url: group_expenses_path(@group.id), local: true do |f| %>
        <div class="form-group">
          <%= f.label :description, "支払いの内容" %>
          <%= f.text_field :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :amount, "金額" %>
          <%= f.number_field :amount, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :payer_id, "支払った人" %>
          <%= f.select :payer_id, options_from_collection_for_select(@members, :id, :name), {}, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :members, "割り勘するメンバー" %><br>
          <div class="ml-2">
            <%= f.collection_check_boxes(:user_ids, @members, :id, :name) do |b| %>
              <div class="form-check big-checkbox">
                <%= b.check_box(class: "form-check-input") %>
                <%= b.label(class: "form-check-label") %>
              </div>
            <% end %>
          </div>
        </div>

        <%= f.submit "登録", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header bg-secondary text-white">
      <h2 class="h5 mb-0">精算結果</h2>
    </div>
    <div class="card-body">
      <% if @settlements.present? %>
        <ul class="list-group">
          <% @settlements.each do |s| %>
            <li class="list-group-item">
              <%= s[:from].name %> が <%= s[:to].name %> に
              <%= number_to_currency(s[:amount].ceil, unit: "¥", precision: 0) %> 支払う
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-muted">精算は必要ありません。</p>
      <% end %>
    </div>
  </div>

  <div class="mb-4">
    <% if @group.expenses.any? %>
      <%= link_to "精算をリセット", reset_all_group_expenses_path(@group.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-block mb-2" %>
    <% end %>

    <%= link_to "精算履歴", group_expense_path(@group.id), class: 'btn btn-warning btn-block mb-2' %>

    <% if @group.includesUser?(current_user) %>
      <%= link_to 'このグループから退会', group_membership_path(@group.id), method: :delete, class: "btn btn-outline-danger btn-block" %>
    <% else %>
      <%= link_to 'このグループに参加', group_memberships_path(@group.id), method: :post, class: "btn btn-outline-success btn-block" %>
    <% end %>
  </div>
</div>