<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h4>ユーザ名変更</h2>
    <%= flash[:notice] %>
    <%= form_with model: @user do |f| %>
      <div class="form-group">
        <label for="inputName">Name</label>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%>
      </div>
      <%= f.submit "変更する" %>
    <% end %>
  </div>
</div>
<%= link_to "グループ一覧に戻る", groups_path, class:'btn btn-info' %>