<!DOCTYPE html>
<html>
  <head>
    <title>Tabiwari</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class='container'>
          <%= link_to root_path do %>
            <h1>Tabiwari</h1>
          <% end %>
          <ul class="nav justify-content-end">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger btn-lg' do %>
                  ログアウト
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'btn btn-outline-success btn-lg' do %>
                  新規登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'btn btn-outline-primary btn-lg ml-5' do %>
                  ログイン
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to guest_sign_in_path, method: :post, class: 'btn btn-outline-secondary btn-lg ml-5' do %>
                  ゲストログイン
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class='container'>
        <%= flash[:notice] %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
